@import 'variables';

body{
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
}

.Affil-container {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    max-height: 2em;
    //align-items: baseline;#
    align-items: center;

    .Affil-box {
        display: flex;
        flex-shrink: inherit;
        //flex-flow: column;
        align-items: center;
        align-content: center;

        .Affil-DK-logo, .Affil-AI-logo {
            a {
                text-decoration: none;
                color: $brand-color;

                img {
                    //height: 2em;
                    max-height: 2em;
                }
            }

            padding-inline-start: 1em;
            display: flex;
            max-width: 100%;
            max-height: 100%;
            justify-content: space-evenly;
        }
    }
}

.Main__container{
    max-width: 70em;
    margin: auto; padding: 1em;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    min-height: calc(100vh - 160px);
}

.Main__title{
    @include titleXXL;
    color: $grey-scale-darker;
    margin: 40px 100px 0px 0;
    max-width: 600px;

    text-decoration: none;

    @media screen and (max-width: 500px) {
    margin: 40px 0 30px 0;
    }
}

.Main__stitle {
    color: $grey-scale-darker;
    margin-bottom: 70px;
    font-size: 1.125em;
}

.Main__description {
    color: $grey-scale-text;
    margin: 0 70px 30px 0;
    max-width: 600px;
}

.Main__subtitle{
    @include titleXL;
    color: $grey-scale-darker;
    margin: 0px 100px 70px 0;
    max-width: 600px;
}

.Main__searchContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    border: 1px solid $grey-scale-darker;
    border-radius: 0.25em;
    background: white;

    @media screen and (max-width: 500px) {
    flex-direction: column;
    }
}

.Main__searchInputContainer{
    display: flex;
    width: 100%;
    padding-right: 1em;
}

.Main__searchInput{
    @include textL;
    color: $grey-scale-darker;
    width: 100%;
    padding: 0 1em;
    outline: none;
    border: 1px solid $grey-scale-base;
    border-radius: 0.25em;
    box-shadow: inset -2px 2px 2px 0px rgb(245, 239, 239);

    @media screen and (max-width: 500px) {
    height: 35px;
    margin-bottom: 10px;
    }
}

.Main__searchButtonContainer{
    @include textL;
    color: $white-color;
    background-color: $brand-color;
    padding: 0.5em 2em;
    border-radius: 0.15em;
    outline: none;
    border: none;

    @media screen and (max-width: 500px) {
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    }

    &:hover{
    background-color: $brand-color;
    cursor: pointer;
    }
}

.Main__arrowBottom{
    height: 30px;
    margin: 0 20px;
    transform: rotate(90deg);
}

.Main__resultsContainer{
    margin-bottom: 3em;
}

.Main__cardContainerLink{
    text-decoration: none;
}

.Main__cardContainer{
    display: block;
    padding: 1em;
    border: 1px solid #444444;
    margin: 1em 0;
    background: #ffffff;
    border-radius: 0.25em;
}

.Main__cardLogo{
    background-image: url(../images/pcb.jpg);
    width: 8em;
    border-radius: 0.5em;
    background-size: 300%;
}

.Main__cardInfo{
    padding: 1em;
}

.Main__cardModuleName{
    @include textLBold;
    color: $grey-scale-darker;
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Main__cardModuleNameLink{
    @include textL;
    color: $brand-color;
    text-decoration: none;

    &:hover{
    cursor: pointer;
    color: $brand-color;
    text-decoration: underline;
    }
}

.Main__cardModuleAdditionalInfo{
    display: flex;
    flex-direction: row;
}

.Main__cardModuleStars{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.5em;
    padding: 0 0.75em 0 0.5em;
    border: 1px solid $grey-scale-base;
    border-radius: 0.15em;
    margin-right: 0.5em;
    font-size: 0.85em;
}

.Main__cardModuleStarIcon{
    font-size: 2.5em;
    color: #ff6711;
    margin: 0 0.15em 0 0.1em;
}

.Main__cardModuleForks{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.5em;
    padding: 0 0.75em 0 0.5em;
    border: 1px solid $grey-scale-base;
    border-radius: 0.15em;
    font-size: 0.85em;
}

.Main__cardModuleFrokIcon{
    font-size: 1.5em;
    color: $brand-color;
    margin: 0 0.25em;
}

.Main__cardModuleDescription{
    @include textL;
    color: $grey-scale-darker;
    margin: 0.5em;
}

.Main__cardModuleTags{
    @include textL;
    color: $grey-scale-darker;
    margin: 0.5em;
}

.Main__cardModuleFoundComponent{
    @include textL;
    color: $grey-scale-darker;
    margin: 0.5em;
}

.Main__cardModuleUrl{
    @include textL;
    color: $brand-color;
    text-decoration: underline;
    margin: 0.5em;
}

.Main__cardModuleLicense{
    margin: 1em 0.5em 0em;
    @include textL;
    color: $grey-scale-darker;
    white-space: nowrap;
    overflow: hidden;
}

.Main__cardModuleLicenseWarningMessage{
    @include textS;
    color: $grey-scale-darker;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #efefef;
    border-radius: 0.5em;
    border: 1px solid #9E9E9E;
}

.Main__cardModuleLicenseWarningLogo{
    font-size: 1.5em;
    margin: 0.25em 0.5em;
}

.Main__cardModuleLicenseLink{
    @include textL;
    color: $brand-color;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover{
    cursor: pointer;
    color: $brand-color;
    text-decoration: underline;
    }
}

.Main__relevantFilesContainer{
    margin: 1em 0.5em;
    padding: 1em 0.5em;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #9E9E9E;
    border-bottom: 1px solid #9E9E9E;
}

.Main__relevantFilesContainerHeader{
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
    color: #444444;
    margin: 0.5em 0;
}

.Main__relevantFile{
    margin: 0.5em 0;
    padding: 0.5em 0;
    border-radius: 0.25em;
    border: 1px solid #9E9E9E;
    background: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Main__relevantFileName{
    width: 20%;
    @include textL;
    color: $grey-scale-darker;
    padding: 0.5em;
    margin: 0.5em 0;
    border-right: 1px solid #9E9E9E;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
}

.Main__relevantFileLink{
    @include textL;
    color: $brand-color;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover{
    cursor: pointer;
    color: $brand-color;
    text-decoration: underline;
    }
}

.Main__relevantFileComponent{
    width: 20%;
    @include textL;
    color: $grey-scale-darker;
    padding: 0.5em;
    margin: 0.5em 0;
    border-right: 1px solid #9E9E9E;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.Main__relevantFileDescription{
    width: 40%;
    @include textL;
    color: $grey-scale-darker;
    padding: 0.5em;
    margin: 0.5em 0;
    display: flex;
    align-items: center;
    border-right: 1px solid #9E9E9E;
    justify-content: center;
}

.Main__relevantFileDataSheet{
    width: 20%;
    @include textL;
    color: $grey-scale-darker;
    padding: 0.5em;
    margin: 0.5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Main__relevantFileHeader{
    padding: 0 1em;
    margin: 0.5em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Main__relevantFileNameHeader{
    width: 20%;
    @include textL;
    color: $grey-scale-darker;
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Main__relevantFileComponentHeader{
    width: 20%;
    @include textL;
    color: $grey-scale-darker;
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Main__relevantFileDescriptionHeader{
    width: 40%;
    @include textL;
    color: $grey-scale-darker;
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Main__relevantFileDataSheetHeader{
    width: 20%;
    @include textL;
    color: $grey-scale-darker;
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Main__noResult{
    @include textL;
    color: #ff5d60;
    padding: 0.5em 1em;
    border: 1px solid #fc6464;
    background: #fff2f2;
    margin-top: 1em;
    border-radius: 0.25em;
    width: fit-content;
}

.Main__counterResult{
    @include titleXL;
    color: $grey-scale-darker;
    margin: 1em 0;
}

.Main__mpnContainer{
    margin-top: 0.5em;
}

.Main__tagsContainer{
    @include textL;
    display: inline-block;
    font-weight: bold;
    color: #444444;
}

.Main__tag{
    display: inline-block;
    border: 1px solid #9E9E9E;
    background: #f5f5f5;
    @include textL;
    font-weight: normal;
    color: $grey-scale-darker;
    padding: 0.15em 0.5em;
    border-radius: 0.25em;
    margin-right: 0.5em;
    margin-top: 0.25em;
}